<div class="container mt-5">
    <h3 class="">Lịch sử lịch hẹn</h3>
    <div class="row">
        <!-- Nếu không có lịch hẹn -->
        <div *ngIf="appointments && appointments.length === 0" class="no-appointments col-12 text-center">
            <p class="text-muted">Hiện tại không có lịch hẹn nào.</p>
        </div>

        <!-- Lặp qua danh sách các lịch hẹn -->
        <div class="col-12" *ngFor="let appointment of appointments">
            <div class="card appointment-card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <!-- Thông tin lịch hẹn -->
                        <div class="appointment-info">
                            <h5 class="appointment-title">{{ appointment.date | date: 'dd/MM/yyyy' }} | Khung giờ: {{ appointment.time }}</h5>
                            <p><strong>Loại xe:</strong> {{ appointment.vehicleType }}</p>
                            <p><strong>Ghi chú dành cho cửa hàng:</strong> {{ appointment.note || "Không có" }}</p>
                            <p><strong>Shop:</strong> {{ appointment.vehicleCares[0].shop.name }}</p>
                            <p><strong>Địa chỉ:</strong> {{ appointment.vehicleCares[0].shop.address }}</p>
                            <p><strong>Dịch vụ:</strong></p>
                            <ul>
                                <li *ngFor="let item of appointment.vehicleCares">
                                    <strong>{{ item.name }}:</strong> {{ item.price | number }} VNĐ
                                </li>
                            </ul>
                        </div>

                        <!-- Trạng thái lịch hẹn -->
                        <div class="appointment-status">
                            <span *ngIf="appointment.status === 'PENDING'" class="badge status-badge pending">PENDING</span>
                            <span *ngIf="appointment.status === 'PAID'" class="badge status-badge paid">PAID</span>
                            <span *ngIf="appointment.status === 'ACCEPTED'" class="badge status-badge accepted">ACCEPTED</span>
                            <span *ngIf="appointment.status === 'DECLINED'" class="badge status-badge declined">DECLINED</span>
                            <span *ngIf="appointment.status === 'CANCELED'" class="badge status-badge canceled">CANCELED</span>
                        </div>
                        
                    </div>

                    <!-- Các nút hành động -->
                    <div class="d-flex mt-3 gap-3">
                        <button (click)="navToPayment(appointment.id)" *ngIf="appointment.status === 'PENDING'" class="btn btn-primary">Thanh toán</button>
                        <button class="btn btn-danger"  *ngIf="appointment.status === 'PENDING'" (click)="cancel(appointment.id)">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
