<div class="container my-5">
  <h2 class="text-center mb-4">Chọn loại tài khoản bạn muốn đăng ký</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="account-card text-center" (click)="setUserType('c')">
        <img
          src="https://i.pinimg.com/736x/89/90/48/899048ab0cc455154006fdb9676964b3.jpg"
          alt="Customer Image"
          width="200px"
          height="200px"
          class="img-fluid rounded-circle mb-2"
          [style]="user_type ==='c' ? 'border: 3px solid #05878c' : ''"
        />
        <div class="account-card-body">
          <h5>Customer</h5>
          
          <!-- <p>Đăng ký để đặt lịch bảo dưỡng và yêu cầu hỗ trợ khẩn cấp.</p> -->
          <!-- <button class="btn btn-primary">Đăng ký Khách hàng</button> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="account-card text-center" (click)="setUserType('s')">
        <img
          src="https://img.freepik.com/premium-vector/store-icon-shop-icon-flat-design-vector-illustration_583131-314.jpg"
          alt="Shop Image"
          class="img-fluid rounded-circle mb-2"
           width="200px"
          height="200px"
          [style]="user_type ==='s' ? 'border: 3px solid #05878c' : ''"
        />
        
        <div class="account-card-body">
          <h5>Shop</h5>
          <!-- <p>Đăng ký để quản lý lịch hẹn và nhận yêu cầu hỗ trợ khẩn cấp.</p> -->
          <!-- <button class="btn btn-success">Đăng ký Shop</button> -->
        </div>
      </div>
    </div>
    <div class="next-page text-center">
        <button class="btn btn-primary" (click)="nextPage()">Tiếp tục</button>
    </div>
  </div>
</div>
