<div class="unauthorized-container">
    <div class="unauthorized-content">
      <h1 class="error-code">403</h1>
      <p class="error-message">Bạn không có quyền truy cập vào trang này.</p>
      <p class="error-description">
        Vui lòng kiểm tra lại quyền hạn của bạn hoặc liên hệ với quản trị viên để được hỗ trợ.
      </p>
      <!-- <div class="buttons">
        <button class="btn-home" (click)="goHome()">Trang Chủ</button>
        <button class="btn-login" (click)="goLogin()">Đăng Nhập</button>
      </div> -->
    </div>
  </div>
  