/* Tùy chỉnh giao diện cho modal */
.modal-content {
    border-radius: 8px;
    padding: 20px;
  }
  
  .modal-header {
    background-color: #28a745;
    color: white;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: 600;
    color: #333;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
.btn {
    background-color: #1984d7;
    // border-color: #28a745;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 5px;
  }
  
//   button.btn-success:hover {
//     background-color: #218838;
//     border-color: #1e7e34;
//   }
  

  .form-group {
    margin-bottom: 1rem;
  }
  

  .fade {
    transition: opacity 0.3s ease;
  }
  input, textarea{
    &:focus{
        box-shadow: none;
    }
    outline: none;
}