<div class="admin-home-container">  
    <!-- Trang Dashboard chính -->
    <div class="container mt-5">
      <h1 class="text-center mb-5">Chào mừng đến với Admin Dashboard</h1>
  
      <div class="row">
        <!-- Card Quản lý Khách Hàng -->
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card shadow-lg text-center p-3 h-100">
            <div class="card-body">
              <h5 class="card-title">Quản lý Khách Hàng</h5>
              <p><i class="fa fa-user mt-1" style="font-size: 2.5rem;"></i></p>
              <a class="btn btn-dark mt-3" routerLink="customers">Xem Chi Tiết</a>
            </div>
          </div>
        </div>
  
        <!-- Card Quản lý Cửa Hàng -->
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card shadow-lg text-center p-3 h-100">
            <div class="card-body">
              <h5 class="card-title">Quản lý Cửa Hàng</h5>
              <p><i class="fa fa-store mt-1" style="font-size: 2.5rem;"></i></p>
              <a class="btn btn-dark mt-3" routerLink="shops">Xem Chi Tiết</a>
            </div>
          </div>
        </div>
  
        <!-- Card Quản lý Dịch Vụ -->
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card shadow-lg text-center p-3 h-100">
            <div class="card-body">
              <h5 class="card-title ">Quản lý Dịch Vụ</h5>
              <p><i class="fa fa-wrench mt-1" style="font-size: 2.5rem;"></i></p>
              <a class="btn btn-dark mt-3" routerLink="services">Xem Chi Tiết</a>
            </div>
          </div>
        </div>
  
        <!-- Card Quản lý Lịch Hẹn -->
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card shadow-lg text-center p-3 h-100">
            <div class="card-body">
              <h5 class="card-title">Quản lý Lịch Hẹn</h5>
              <p><i class="fa fa-calendar mt-1" style="font-size: 2.5rem;"></i></p>
              <a class="btn btn-dark mt-3" routerLink="appointments">Xem Chi Tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  

  </div>
  