<div class="shop-home-container">

  <nav class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">

    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fa" [ngClass]="isCollapsed ? 'fa-bars' : 'fa-times'"></i>
    </button>
    
    <span class="navbar-brand fw-bold text-center mb-3" *ngIf="!isCollapsed" href="#">Shop Dashboard</span>

    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('services') ? 'active' : ''" routerLink="services">
          <i class="fa fa-cogs"></i><span *ngIf="!isCollapsed">Hạng mục</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('appointments') ? 'active' : ''" routerLink="appointments">
          <i class="fa fa-calendar-check"></i><span *ngIf="!isCollapsed">Lịch Hẹn</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('emergency-request-list') ? 'active' : ''" routerLink="emergency-request-list">
          <i class="fa fa-exclamation-triangle"></i><span *ngIf="!isCollapsed">Khẩn Cấp</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('reviews') ? 'active' : ''" routerLink="reviews">
          <i class="fa fa-star"></i><span *ngIf="!isCollapsed">Đánh giá</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('statistic') ? 'active' : ''" routerLink="statistic">
          <i class="fa fa-chart-line"></i><span *ngIf="!isCollapsed">Thống kê</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('info') ? 'active' : ''" routerLink="info">
          <i class="fa fa-user"></i><span *ngIf="!isCollapsed">Tài khoản của tôi</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="router.url.endsWith('notifications') ? 'active' : ''" routerLink="notifications">
          <i class="fa fa-chart-line"></i><span *ngIf="!isCollapsed">Thông báo</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" style="cursor: pointer;" (click)="logout()">
          <i class="fa fa-sign-out-alt"></i><span *ngIf="!isCollapsed">Đăng Xuất</span>
        </a>
      </li>
    </ul>
  </nav>


  <div class="content-container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
