<div class="container mt-5">
  <h2 class="text-center mb-4 fw-bold">Quản lý Cửa hàng</h2>
  <div class="mb-4 d-flex justify-content-end">
    <div class="col-lg-4 col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm..."
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      />
    </div>
  </div>

  <!-- Bảng lịch hẹn -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Tên Shop</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th>Thời gian hoạt động</th>
          <th>Rating</th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shop of shops">
          <td>{{ shop.id }}</td>
          <td>{{ shop.name }}</td>
          <td>{{ shop.address }}</td>
          <td>{{ shop.phoneNumber }}</td>
          <td>{{ shop.openHour }} - {{ shop.closeHour }}</td>
          <td>{{ shop.rating }}/5</td>

          <td>
            <span
              class="badge"
              [ngClass]="
                shop.user.locked === true ? 'bg-secondary' : 'bg-success'
              "
            >
              {{ shop.user.locked === true ? "Inactive" : "Active" }}
            </span>
          </td>
          <td class="d-flex justify-content-start">
            <button
              class="btn btn-sm btn-warning me-3"
              (click)="updateStatus(shop.user.id, shop.user.locked)"
            >
              {{
                shop.user.locked === true
                  ? "Mở khóa tài khoản"
                  : "Khóa tài khoản"
              }}
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteShop(shop.id)">
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav>
      <ul class="pagination justify-content-center mt-4">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="previousPage()">Trước</button>
        </li>
        <li class="page-item disabled">
          <span class="page-link"
            >Trang {{ currentPage }} / {{ totalPages }}</span
          >
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="nextPage()">Sau</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
