

input{
    &:focus{
        box-shadow: none;
    }
    outline: none;
}

.customer {
    padding: 70px 20px !important;
    margin: 40px auto;
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }