.date{
    position: relative;
    i{
        position: absolute;
        top: 50%;
        right: 6%;
        font-size: 24px;
    }
}

.customer{
    margin: 30px auto;
    padding: 30px;
}

input{
    &:focus{
        box-shadow: none;
    }
    outline: none;
}

.customer {
    padding: 30px 20px;
    margin: 40px auto;
    background-color: #ffffff; /* Màu nền trắng */
    border-radius: 10px; /* Góc bo tròn */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bóng mờ */
    max-width: 800px; /* Giới hạn chiều rộng */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }