
.emergency-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Input fields */
.input-field, .select-field, .textarea-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  transition: border 0.3s;
}

.input-field:focus, .select-field:focus, .textarea-field:focus {
  border-color: #4CAF50;
  outline: none;
}

.textarea-field {
  min-height: 100px;
  resize: vertical;
}


.file-upload {
  position: relative;
  margin-top: 10px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload-label {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.preview-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.preview-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}



.btn-gps {
  margin-top: 10px;
  background-color: #2196F3;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-gps:hover {
  background-color: #1976D2;
}

/* Terms and Conditions Checkbox */
.terms-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.terms-label {
  font-size: 15px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* Submit Button */
.btn-submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-submit:hover:enabled {
  background-color: #45a049;
}

.ng-select .ng-select-container {
  min-height: 200px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 200px;
}

::ng-deep .ng-select-container {
  height: 44px !important;
  font-size: 16px!important;
}