<div class="emergency-form mb-5 mt-5">
  <h1 class="form-title">Cứu Trợ Khẩn Cấp</h1>
  <form #emergencyForm="ngForm" [formGroup]="form" class="form-container">
    <div class="form-group">
      <label>Họ và Tên *</label>
      <input
        type="text"
        name="name"
        [value]="customer.name"
        disabled
        class="input-field"
      />
    </div>
 <div class="row">
  <div class="form-group col-lg-6 col-md-12 col-md-12">
    <label>Số Điện Thoại *</label>
    <input
      type="tel"
      name="phone"
      [value]="customer.phoneNumber"
      disabled
      class="input-field"
    />
  </div>
  <div class="form-group col-lg-6 col-md-12 col-md-12">
    <label>Email</label>
    <input
      type="email"
      name="email"
      [value]="customer.user.email"
      disabled
      class="input-field"
    />
  </div>
 </div>
   <div class="row">
    <div class="form-group col-lg-6 col-md-12 col-md-12">
      <label>Loại Phương Tiện *</label>
      <select
        required
        name="vehicleType"
        formControlName="vehicleType"
        class="select-field"
      >
        <option value="MOTORBIKE">Xe máy</option>
        <option value="BIKE">Xe đạp</option>
        <option value="CAR">Xe ô tô</option>
      </select>
    </div>
    <div class="form-group col-lg-6 col-md-12 col-md-12">
      <label>Biển Số Xe *</label>
      <input
        type="text"
        required
        name="licensePlate"
        formControlName="licensePlate"
        placeholder="Nhập biển số xe"
        class="input-field"
      />
    </div>
   </div>
    <div class="form-group">
      <label>Mô Tả Vấn Đề</label>
      <textarea
        name="problemDescription"
        formControlName="description"
        placeholder="Nhập mô tả ngắn"
        class="textarea-field"
      ></textarea>
    </div>
    <div class="form-group">
      <label>Vị Trí Hiện Tại</label>
      <div class="location-group form-group mb-3 col-12">
        <ng-select
          formControlName="location"
          id="field_address"
          style="font-family: roboto; width: 100% !important"
          [items]="addressOptions"
          bindLabel="description"
          bindValue="description"
          (search)="onItemChange($event)"
          [searchable]="true"
        ></ng-select>
        <button (click)="updateLocation()" type="button" class="btn-gps"><i class="fa-solid fa-location-dot"></i>&nbsp;Lấy Vị Trí GPS</button>
      </div>
    </div>
    <div class="form-group">
      <label>Hình Ảnh Bổ Sung</label>
      <div class="file-upload">
        <input
          type="file"
          multiple
          formControlName="imageDetail"
          id="fileInput"
          (change)="onFileSelected($event)"
        />
        <label for="fileInput" class="file-upload-label"><i class="fa-solid fa-file-arrow-up"></i> Chọn Hình Ảnh</label>
        <div class="preview-container">
          <img
            *ngFor="let file of previewFiles"
            [src]="file"
            alt="Preview"
            class="preview-image"
          />
        </div>
      </div>
    </div>
    <div class="form-group terms-group d-flex align-items-center gap-2">
      <input type="checkbox" required name="terms" id="termsCheckbox" />
      <label for="termsCheckbox" class="terms-label">Tôi đồng ý với điều khoản và điều kiện</label>
    </div>
    <button
      (click)="onSubmit()"
      type="submit"
      [disabled]="!emergencyForm.valid"
      class="btn-submit"
    >
      Gửi Yêu Cầu
    </button>
  </form>
</div>
