
.card-title {
  height: 3rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}


  canvas {
    image-rendering: crisp-edges; /* Tăng độ nét */
    backface-visibility: hidden; /* Loại bỏ các hiệu ứng mờ */
  }