<div class="appointment-management ms-5 col-11 mt-5">
  <div
    class="header bg-primary text-white d-flex justify-content-between align-items-center mb-4 p-3 rounded shadow"
  >
    <h3 class="h4 m-0">Quản Lý Lịch Hẹn</h3>
    <button class="btn btn-light btn-sm fw-bold" (click)="openNew()">
      <i class="fa fa-plus-circle me-1"></i> Thêm Lịch Hẹn Mới
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark text-center">
        <tr>
          <th>ID</th>
          <th>Ghi Chú</th>
          <th>Thời Gian</th>
          <th>Loại Xe</th>
          <th style="width: 150px">Dịch Vụ</th>
          <th>Khách Hàng</th>
          <th>Trạng Thái</th>
          <th style="width: 150px">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of appointments">
          <td class="text-center fw-bold">{{ item.id }}</td>
          <td>{{ item.note || "Không có ghi chú" }}</td>
          <td>
            {{ item.date | date : "dd/MM/yyyy" }}<br />
            {{ item.time }}
          </td>
          <td>{{ item.vehicleType }}</td>
          <td>
            <ul class="list-unstyled mb-0">
              <li
                *ngFor="let v of item.vehicleCares"
                class="d-flex align-items-center"
              >
                <span class="text-success fw-bold me-2">•</span>
                <span>{{ v.name }}</span>
              </li>
            </ul>
          </td>
          <td class="text-center fw-semibold">{{ item.customer.name }}</td>
          <td class="text-center">
            <div class="justify-content-center align-items-center">
              <span *ngIf="item.status === 'ACCEPTED'" class="badge bg-success"
                >Đã Chấp Nhận</span
              >
              <span
                *ngIf="item.status === 'PENDING'"
                class="badge bg-warning text-dark"
                >Đang Xử Lý</span
              >
              <span *ngIf="item.status === 'CANCELED'" class="badge bg-danger"
                >Đã Hủy</span
              >
              <span *ngIf="item.status === 'FINISHED'" class="badge bg-info"
                >Hoàn Thành</span
              >
            </div>
            <div *ngIf="item.status !== 'CANCELED' && item.status !== 'FINISHED'">
              <span
                *ngIf="item.paymentStatus === 'FINISHED'"
                class="badge bg-primary"
                >Đã Thanh Toán</span
              >
              <span
                *ngIf="item.paymentStatus !== 'FINISHED'"
                class="badge bg-secondary"
                >Chưa Thanh Toán</span
              >
            </div>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <button
                *ngIf="item.status === 'PENDING'"
                (click)="updateStatus(item.id, 'ACCEPTED')"
                class="btn btn-success btn-sm text-white"
              >
                <i class="fa fa-check-circle me-1"></i> Chấp Nhận
              </button>
              <button
                *ngIf="item.status === 'PENDING'"
                (click)="updateStatus(item.id, 'CANCELED')"
                class="btn btn-danger btn-sm"
              >
                <i class="fa fa-times-circle me-1"></i> Từ Chối
              </button>

              <button
                *ngIf="item.status === 'ACCEPTED' && item.paymentStatus === 'FINISHED'"
                (click)="updateStatus(item.id, 'FINISHED')"
                class="btn btn-info btn-sm"
              >
                <i class="fa fa-check-double me-1"></i> Xác nhận hoàn thành
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" href="#"><i class="fa fa-angle-left"></i> Trước</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Sau <i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
  </nav>
</div>
