<div class="container mt-5">
  <h2 class="text-center mb-4 fw-bold">Quản lý Yêu cầu cứu trợ</h2>

  <div class="mb-4 d-flex justify-content-end">
    <div class="col-lg-4 col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm..."
        [(ngModel)]="searchTerm"
                (input)="onSearchChange()"
      />
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Mô Tả</th>
        <th>Vị Trí</th>
        <th>Biển Số Xe</th>
        <th>Loại Xe</th>
        <th>Trạng Thái</th>
        <th>Khách Hàng</th>
        <th>Hình ảnh</th>
        <th>DS đề xuất</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of emergencyRequests; let i = index">
        <td>{{request.id}}</td>
        <td>{{ request.description }}</td>
        <td>{{ request.location }}</td>
        <td>{{ request.licensePlate }}</td>
        <td>{{ util.translateVehicleType(request.vehicleType) }}</td>
        <td>
            <strong 
            [ngClass]="{
              'bg-warning text-dark': request.requestStatus === 'PENDING',
              'bg-success ': request.requestStatus === 'ACCEPTED',
              'bg-primary ': request.requestStatus === 'IN_PROGRESS',
              'bg-info text-dark': request.requestStatus === 'FINISHED',
              'bg-danger ': request.requestStatus === 'CANCELED',
              'bg-secondary ': request.requestStatus === 'DECLINED',
              'bg-dark ': request.requestStatus === 'ARRIVED'
            }" 
            style="font-size: 14px;"
            class="px-2 py-1 rounded-pill text-light">
            {{ request.requestStatus }}
          </strong>
            </td>
        <td>{{ request.customer.name }}</td>
        <td>
          <div
            class="d-flex flex-wrap gap-2 mb-2"
            *ngFor="let item of request.imageDetail.split(' - ')"
          >
            <img
              [src]="item"
              class="img-thumbnail"
              width="200"
              height="200"
              (click)="openImageModal(item)"
              alt="Image detail"
            />
          </div>
        </td>
        <td>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center mb-3" *ngFor="let item of request.proposals">
              <div class="text-start">
                <p class="mb-1" style="font-size: 1rem; font-weight: 500;">
                  <strong>{{ item.shop.name }}</strong>
                </p>
                <p class="mb-1" style="font-size: 0.875rem;">
                  <strong>Dự đoán:</strong> {{ item.predict }}
                </p>
                <strong>Giá dự kiến:</strong>
                <p class="mb-1 " style="font-size: 0.875rem;">
                  {{ item.expectedPrice | number }} VNĐ
                </p>
                <strong class="me-2">Trạng thái:</strong>
                <p class="mb-0" style="font-size: 0.875rem;">
                  <strong
                    [ngClass]="{
                      'bg-success': item.status === 'ACCEPTED',
                      'bg-warning': item.status === 'PENDING',
                      'bg-danger': item.status === 'DECLINED'
                    }"
                    class="px-2 py-1 rounded text-light"
                    style="font-size: 0.75rem; font-weight: 500; padding-left: 8px; padding-right: 8px;"
                  >
                    {{ item.status }}
                  </strong>
                </p>
              </div>
            </li>
          </ul>
        </td>
        
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="previousPage()">Trước</button>
      </li>
      <li class="page-item disabled">
        <span class="page-link"
          >Trang {{ currentPage }} / {{ totalPages }}</span
        >
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="nextPage()">Sau</button>
      </li>
    </ul>
  </nav>
</div>
