<div class="container mt-5">
  <h2 class="text-center mb-4 fw-bold">Quản lý Lịch Hẹn</h2>

  <div class="mb-4 d-flex justify-content-end">
    <div class="col-lg-4 col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm..."
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      />
    </div>
  </div>


  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Khách Hàng</th>
          <th>Thời Gian Đặt Lịch</th>
          <th>Thời Gian Hẹn</th>
          <th>Loại Xe</th>
          <th>Dịch Vụ</th>
          <th>Ghi Chú</th>
          <th>Trạng Thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of appointments">
          <td>{{ item.id }}</td>
          <td>{{ item.customer.name }}</td>
          <td>{{ item.createdAt }}</td>
          <td>
            {{ item.dateAndTime | date : "dd/MM/yyyy HH:mm:ss" }} <br />
          </td>
          <td>{{ util.translateVehicleType(item.vehicleType) }}</td>
          <td>
            <div
              class="d-grid gap-2"
              style="grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));"
            >
              <div
                *ngFor="let v of item.vehicleCares"
                class="p-2 rounded shadow-sm border text-center"
                style="background-color: #f8f9fa; font-size: 14px"
              >
                <div class="fw-bold text-truncate" title="{{ v.name }}">{{ v.name }}</div>
                <div class="text-success fw-bold">{{ v.price | number:'1.0-0' }} VNĐ</div>
              </div>
            </div>
          </td>
          <td>{{ item.note || "Không có ghi chú" }}</td>
          <td>
            <span
              *ngIf="item.status === 'ACCEPTED'"
              class="badge bg-success"
              >ACCEPTED</span
            >
            <span
              *ngIf="item.status === 'PENDING'"
              class="badge bg-warning text-dark"
              >PENDING</span
            >
            <span *ngIf="item.status === 'CANCELED'" class="badge bg-danger"
              >CANCELED</span
            >
            <span *ngIf="item.status === 'FINISHED'" class="badge bg-info text-light"
              >FINISHED</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="previousPage()">Trước</button>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Trang {{ currentPage }} / {{ totalPages }}</span>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="nextPage()">Sau</button>
      </li>
    </ul>
  </nav>
</div>
