.service-management {
    .title {
      font-size: 1.8rem;
      font-weight: bold;
    }
  
    table {
      th {
        background-color: #343a40;
        color: #ffffff;
      }
  
      td {
        vertical-align: middle;
  
        input[type='checkbox'] {
          transform: scale(1.2);
          margin-top: 0.3rem;
        }
      }
  
      .btn {
        &.btn-warning {
          margin-right: 0.5rem;
        }
      }
    }
  
    .pagination {
      .page-item {
        .page-link {
          color: #007bff;
          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  }
  
