.shop-detail {
  display: flex;
  flex-direction: column;
  gap: 50px;
 
  /* Shop Info Styling */
  .shop-info {
    background-color: #f9fbfd;
    border-top: 1px solid #e9ecef;
  }

  .info-block {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .icon {
    font-size: 1.5rem;
    color: #007bff;
    margin-right: 10px;
  }

  .shop-info h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: #444;
  }

  .shop-info p {
    font-size: 0.95rem;
    color: #555;
  }

  /* Animation and Effects */
  // .top:hover .shop-logo {
  //   transform: scale(1.05);
  //   transition: transform 0.3s;
  // }

  @media (max-width: 768px) {
    .shop-info .row {
      flex-direction: column;
    }
  }



  .services {
    .service-card {
      max-height: 400px;
      background-color: #ffffff;
      border: none;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.3s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .shop-images {
    margin-bottom: 30px;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #444;
      margin-bottom: 20px;
    }

    img {
      border-radius: 8px;
      transition: transform 0.3s, box-shadow 0.3s;
      width: 100%;
      height: auto;
      object-fit: cover;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      }
    }
  }

}



/* Ẩn mũi tên mặc định Bootstrap trong dropdown */
.dropdown-toggle::after {
  display: none;
}







