<div class="emergency-request-list ms-5 col-11 mt-5">
  <div class="header bg-primary text-white d-flex justify-content-between align-items-center mb-4 p-3 rounded shadow">
    <h3 class="h4 m-0">Danh sách yêu cầu hỗ trợ khẩn cấp</h3>
  </div>
  <div class="mb-4 d-flex justify-content-end">
    <div class="col-lg-4 col-sm-12">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm..."
        [(ngModel)]="searchTerm"
                (input)="onSearchChange()"
      />
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-light text-center">
        <tr>
          <th>ID</th>
          <th>Khách hàng</th>
          <th>Loại phương tiện</th>
          <th>Biển số xe</th>
          <th>Vị trí</th>
          <th>Trạng thái</th>
          <th>Hình ảnh</th>
          <th>Thời gian gửi</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of emergencyRequests; let i = index" class="text-center">
          <td class="text-center fw-bold">{{ i + 1 }}</td>
          <td>{{ request.customer.name }}</td>
          <td class="text-center">{{ translateVehicleType(request.vehicleType) }}</td>
          <td>{{ request.licensePlate }}</td>
          <td>{{ request.location }}</td>
          <td class="text-center">
            <span *ngIf="request.requestStatus === 'ACCEPTED'" class="badge bg-success">ACCEPTED</span>
            <span *ngIf="request.requestStatus === 'PENDING'" class="badge bg-warning text-dark">PENDING</span>
            <span *ngIf="request.requestStatus === 'FINISHED'" class="badge bg-info">FINISHED</span>
            <span *ngIf="request.requestStatus === 'CANCELED'" class="badge bg-danger">CANCELED</span>
            <span *ngIf="request.requestStatus === 'IN_PROGRESS'" class="badge bg-primary">IN_PROGRESS</span>
          </td>
          <td>
            <div class="d-flex flex-wrap gap-2 justify-content-center">
              <ng-container *ngFor="let item of request.imageDetail.split(' - '); let i = index">
                <img *ngIf="i < 3" [src]="item" alt="Chi tiết yêu cầu" (click)="openImageModal(item)" class="img-fluid rounded border" width="150" height="150" />
              </ng-container>
            </div>
          </td>
          <td class="text-center">{{ request.createAt | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td class="text-center">
            <div class="btn-group">
              <button
                *ngIf="!request.check && request.requestStatus !== 'FINISHED'"
                class="btn btn-info btn-sm text-white"
                (click)="openProposalModal(request)"
              >
                <i class="fa fa-lightbulb me-1"></i> Đề xuất
              </button>
              <button
                *ngIf="request.check"
                class="btn btn-secondary btn-sm text-white"
                (click)="viewProposalModal(request.proposal)"
              >
                <i class="fa fa-eye me-1"></i> Xem đề xuất
              </button>

              <button
              *ngIf="request.requestStatus === 'IN_PROGRESS'"
              (click)="updateStatus(request.id, 'FINISHED')"
              class="btn btn-info btn-sm ms-3"
            >
              <i class="fa fa-check-double me-1"></i> Xác nhận hoàn thành
            </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="emergencyRequests.length === 0">
          <td colspan="9" class="text-center text-muted">Không có yêu cầu nào!</td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="previousPage()">Trước</button>
      </li>
      <li class="page-item disabled">
        <span class="page-link"
          >Trang {{ currentPage }} / {{ totalPages }}</span
        >
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="nextPage()">Sau</button>
      </li>
    </ul>
  </nav>
</div>
